<link rel="import" href="{$components_url}bower_components/paper-button/paper-button.html">
<link rel="import" href="{$components_url}bower_components/paper-card/paper-card.html">

<style is="custom-style">
    paper-card {
        --paper-card-header: {
            background-color: #1dc116;

        };
    }

</style>

<paper-card heading="{$title}">
    <div class="card-content">
        <h5 class="ow_center">{$body}</h5>
    </div>
    <div class="card-actions">
        <paper-button id="try_button">Try it!</paper-button>
        <paper-button id="close_button">Close</paper-button>
    </div>
</paper-card>
