<link rel="import" href="{$components_url}bower_components/paper-button/paper-button.html">
<link rel="import" href="{$components_url}bower_components/paper-progress/paper-progress.html">
<link rel="import" href="{$components_url}bower_components/iron-icons/notification-icons.html">
<link rel="import" href="{$components_url}bower_components/paper-badge/paper-badge.html">
<link rel="import" href="{$components_url}bower_components/paper-toolbar/paper-toolbar.html">


<style is="custom-style">
    paper-button.custom {
        --paper-button-ink-color: var(--paper-pink-a200);
        /* These could also be individually defined for each of the
          specific css classes, but we'll just do it once as an example */
        --paper-button-flat-keyboard-focus: {
            background-color: var(--paper-pink-a200);
            color: white !important;
        };
        --paper-button-raised-keyboard-focus: {
            background-color: var(--paper-pink-a200) !important;
            color: white !important;
        };
    }
    paper-button.custom:hover {
        background-color: var(--paper-indigo-100);
    }

    paper-button.green {
        background-color: var(--paper-green-500);
        color: white;
    }
    paper-button.green[active] {
        background-color: var(--paper-green-500);
    }

    paper-button.red {
        background-color: var(--paper-red-500);
        color: white;
    }
    paper-button.red[active] {
        background-color: var(--paper-red-500);
    }

    paper-button {
        margin: 20px;
    }

    paper-progress {
        width: inherit;
    }

    paper-badge {
        --paper-badge-background: var(--paper-red-300);
        cursor: pointer;
    }

    .info {
        cursor: help;
    }

</style>

<h4 class="ow_center info" id="level" onclick="SPODTUTORIAL.showPassedChallenges({$userId})">Knowledge's level</h4>
<paper-badge for="level" label="{$newPassed}" onclick="SPODTUTORIAL.showPassedChallenges({$userId})" {if $newPassed eq 0} hidden {/if}></paper-badge>

{if $value < $count}
<paper-progress id="progress" value="{$value}" min="0" max="{$count}"></paper-progress>

{else}
<style is="custom-style">
    paper-toolbar {
        --paper-toolbar-background: {$toolbarColor};
    }
</style>
<paper-toolbar>
    <span class="title">{$level}</span>
</paper-toolbar>
{/if}

{if $flag==true}

<h4 class="ow_center">Today's challenges</h4>

{foreach $challenges as $challenge}
<paper-button raised class="custom {$colors[$challenge->id]}" onclick="SPODTUTORIAL.showFloatBox({$challenge->id});" alt><iron-icon icon="notification:event-available"></iron-icon>{text key=$prefix|cat:$challenge->title}</paper-button>
{/foreach}
{/if}

<script>
    var links = document.getElementsByTagName('a');
    links.forEach(reloadPage);

    function reloadPage() {
        $().reloadWidget()
    }
</script>